<!-- Need About Section -->
<div class="container">
  <div class="row">
    <div class="col-3">
      <img src="/images/gary-the-roach.png" class="img-fluid" alt="..." width="100%" />

    </div>
    <div class="col-9">
      <h2 class="display-6">Coach Roach</h2>
      <p>Innovative tech-startup Busy Boys Co announces the release of their second in-house developed online product.
        The webapp provides users with the ability to search, record and track internal coaching sessions between
        employees. Gone are the days of hand drawn posters sprawled across conference room walls!

      </p>
      <p>This new and streamlined way to track employee coaching leverages modern technologies to provide a safe, secure
        and simple way for employees to record coaching. Individual sessions can be recorded to ensure that key
        individual and company wide KPI’s are being met.
      </p>
      <p>Other applications in this space share similar methods for session recording, but are often presented with a
        clunky and uninspiring user interface. Busy-Boys have focused on cutting out the garbage, so that the user has
        to only enter a small amount of information to make their coaching session count, helping them better themselves
        and meet company requirements with minimal friction!
      </p>
    </div>
  </div>
</div>
<br /><br />
<div class="container">
  <h2 class="display-6">About Busy Boys</h2>
  <p>Busy Boys Co. is a relatively new start-up, founded in 2021, by a small group of independent developers, but their
    innovative solutions have made quite the splash in the Australian market. Busy-Boys Co. specialises in web-facing
    software, bringing technology and solutions together through their products. More information available at
    busyboys.co
  </p>

</div>