<!-- Need About Section -->
<div class="container">
  <div class="row">
    <div class="col-3">
      <img src="/images/gary-the-roach.png" class="img-fluid" alt="..." width="100%" />

    </div>
    <div class="col-9">
      <h2 class="display-6">Coach Roach</h2>
      <p>Coachroach is a training platform designed... Steal from the presso.

      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil ratione ducimus suscipit voluptate illo
        doloremque explicabo, temporibus quos ea aspernatur accusamus, sint sequi odio magnam quae consectetur nemo
        molestiae?
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil ratione ducimus suscipit voluptate illo
        doloremque explicabo, temporibus quos ea aspernatur accusamus, sint sequi odio magnam quae consectetur nemo
        molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil ratione ducimus suscipit
        voluptate illo doloremque explicabo, temporibus quos ea aspernatur accusamus, sint sequi odio magnam quae
        consectetur nemo molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil ratione ducimus
        suscipit voluptate illo doloremque explicabo, temporibus quos ea aspernatur accusamus, sint sequi odio magnam
        quae consectetur nemo molestiae?
      </p>
    </div>
  </div>
</div>
<br /><br />
<div class="container">
  <h2 class="display-6">About Busy Boys</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil ratione ducimus suscipit voluptate illo
    doloremque explicabo, temporibus quos ea aspernatur accusamus, sint sequi odio magnam quae consectetur nemo
    molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil ratione ducimus suscipit voluptate
    illo doloremque explicabo, temporibus quos ea aspernatur accusamus, sint sequi odio magnam quae consectetur nemo
    molestiae?
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil ratione ducimus suscipit voluptate illo
    doloremque explicabo, temporibus quos ea aspernatur accusamus, sint sequi odio magnam quae consectetur nemo
    molestiae?
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil ratione ducimus suscipit voluptate illo
    doloremque explicabo, temporibus quos ea aspernatur accusamus, sint sequi odio magnam quae consectetur nemo
    molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil ratione ducimus suscipit voluptate
    illo doloremque explicabo, temporibus quos ea aspernatur accusamus, sint sequi odio magnam quae consectetur nemo
    molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil ratione ducimus suscipit voluptate
    illo doloremque explicabo, temporibus quos ea aspernatur accusamus, sint sequi odio magnam quae consectetur nemo
    molestiae?
  </p>
</div>