<div class="container">
        <div class="container">
          <h2>Login</h2>
          <form id="loginForm">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
              </div>
              <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div>
          <br><br>
          <br><br>
          <div class="container justify-content-center">
            <h2>Sign up</h2>
          </div>
          <div class="container">
            <form id="signup-form">
                
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">First Name</label>
                  <input name="first_name" type="text" minlength="3" maxlength="15" class="form-control" id="first_name" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Last Name</label>
                  <input name="last_name" type="text" minlength="3" maxlength="20" class="form-control" id="last_name" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input name="password" type="password" class="form-control" id="password">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Role</label>
                  <input name="role" type="text" minlength="3" maxlength="15" class="form-control" id="role">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Manager</label>
                  <input name="manager_id" type="number" min="1" class="form-control" id="manager_id">
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
              </form>
          </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" 
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" 
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="../js/create-user.js"></script>